html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: helvetica;
  background-color: black;
  background-color: #181818;
}

#wrapper {
  width: 33%;
  margin: 0 auto;
  /* box-shadow: 0 0 10px #0e0e0e; */
  padding: 1em;
  height: 100vh;
}

#self {
  border-radius: 50%;
  margin: 0 auto;
}

.pulldown {
  height: 0;
  overflow-y: hidden;
}

h1 {
  margin-top: 1em;
  margin-bottom: .2em;
  color: white;
}

span {
  margin-right: 10px;
}

#retryButton {
  border-radius: 50%;
}

#backgroundVideo {
  position: fixed;
  z-index: -10;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  height: 150vh;
  opacity: 0.5;
}

.block {
  border-radius: 5px;
}

.word {
  display: inline-block;
  color: white;
  font-size: 32px;
  padding: 0px 3px 3px 3px;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
}

.wrongWord {
  display: inline-block;
  color: red;
  font-size: 32px;
  padding: 0px 3px 3px 3px;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
}

.correctWord {
  display: inline-block;
  color: orange;
  font-size: 32px;
  padding: 0px 3px 3px 3px;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
}

.currentWord {
  display: inline-block;
  color: white;
  font-size: 32px;
  padding: 0px 3px 3px 3px;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
  background-color: rgb(255, 255, 255, 0.5);
}

#wordDisplayWrapper {
  height: 5.5em;
  overflow-y: hidden;
  outline: 1px solid orange;
}

.window {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 640px;
  margin: 10px auto;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(188, 72, 0, 1) 0%,
    rgba(242, 94, 2, 1) 100%
  );
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

#stats {
  background-color: rgba(59, 39, 124, 0);
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.scoreDisplay {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(188, 72, 0, 1) 0%,
    rgba(242, 94, 2, 1) 100%
  );
  text-align: center;
  height: 100%;
  display: inline-block;
  width: 100%;
  color: white;
  max-width: 24%;
}

#scoreBoardWrapper {
  overflow-x: auto;
}

#scoreboard {
  font-size: 2em;
  color: white;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

#typingInput {
  color: white;
}

#inputWrapper {
  display: flex;
}

#retryButton {
  height: 50px;
  width: 50px;
  margin: 10px auto;
  margin-left: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(188, 72, 0, 1) 0%,
    rgba(242, 94, 2, 1) 100%
  );
}

#retryButton img {
  height: 100%;
  width: 100%;
}

#startMenuWrapper {
  max-width: 640px;
  margin: auto;
}

h2 {
  color: white;
  font-size: 3em;
  margin: 0;
}

.button {
  background-color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(188, 72, 0, 1) 0%,
    rgba(242, 94, 2, 1) 100%
  );
  text-align: center;
  /* border-radius: 4px; */
  transition: 0s all;
  opacity: 0.9;
  padding: 3px;
}

.button:hover {
  opacity: 1;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.button p {
  font-size: 2em;
  color: white;
}

#startButton {
  width: 100%;
}

#timer {
  padding: 10px;
  text-align: center;
}

#timer p {
  color: white;
  font-size: 4em;
  margin: 0;
}
